extends layout
block content
    #secondnav
        .layui-row(style="margin-top: 20px")
            .layui-col-md9(style="margin-top: 10px")
                hr(class="layui-bg-blue")
            .layui-col-md3
                a(href="/article" 	class="layui-btn layui-btn-lg layui-btn-normal" style="margin-left: 150px") 发表文章